<a routerLink="/cars/form">
    <button mat-stroked-button color="primary">Add New Car</button>
</a>
<table mat-table [dataSource]="cars" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand</th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model</th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year</th>
        <td mat-cell *matCellDef="let element"> {{element.year_production}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} $</td>
    </ng-container>

    <ng-container matColumnDef="seller">
        <th mat-header-cell *matHeaderCellDef> Seller</th>
        <td mat-cell *matCellDef="let element"> {{element.seller.email}}</td>
    </ng-container>
    <!--Button to open individual car-->
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="/cars/form/{{element.id}}">
                <button class="detail-button" mat-raised-button
                        matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                    Details
                </button>
            </a>
            <button class="delete-button" mat-raised-button
                    matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    (click)="deleteCar(element.id)">
                Delete
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

