<div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <form [formGroup]="carForm">

        <!-- Brand -->
        <mat-form-field>
            <input matInput type="text" formControlName="brand" placeholder="Brand">
            <mat-error>{{getError('brand')}}</mat-error>
        </mat-form-field>
        <br>

        <!-- Model -->
        <mat-form-field>
            <input matInput type="text" formControlName="model" placeholder="Model">
            <mat-error>{{getError('model')}}</mat-error>
            <!--            <mat-error *ngIf="carForm.get('model').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('model').errors?.maxlength as error">-->
            <!--                Nuk mund te kete me shume se {{error.requiredLength}}, aktualisht ka {{error.actualLength}}-->
            <!--            </mat-error>-->
        </mat-form-field>
        <br>

        <!-- Year Production -->
        <mat-form-field>
            <input matInput type="text" formControlName="year_production" placeholder="Year">
            <mat-error>{{getError('year_production')}}</mat-error>
            <!--            <mat-error *ngIf="carForm.get('year_production').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('year_production').errors?.required">Fusha nuk mund te jete bosh</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('year_production').errors?.min as error">-->
            <!--                Nuk mund te jete me e vogel se {{error.min}}, aktualisht eshte {{error.actual}}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('year_production').errors?.max as error">-->
            <!--                Nuk mund te jete me e madhe se {{error.max}}, aktualisht eshte {{error.actual}}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('year_production').errors?.pattern">-->
            <!--                Viti nuk eshte i vlershem, ju lutem jepni nje numer te sakte-->
            <!--            </mat-error>-->
        </mat-form-field>
        <br>
        <br>

        <!-- Condition -->
        <mat-form-field>
            <textarea matInput type="text" formControlName="condition" placeholder="Condition" rows="5"></textarea>
            <mat-error>{{getError('condition')}}</mat-error>
            <!--            <mat-error *ngIf="carForm.get('condition').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('condition').errors?.required">Fusha nuk mund te jete bosh</mat-error>-->
        </mat-form-field>
        <br>

        <!-- Country -->
        <mat-form-field>
            <input matInput type="text" formControlName="country_of_origin" placeholder="Country">
            <mat-error>{{getError('country_of_origin')}}</mat-error>
            <!--            <mat-error-->
            <!--                    *ngIf="carForm.get('country_of_origin').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('country_of_origin').errors?.maxlength as error">-->
            <!--                Nuk mund te kete me shume se {{error.requiredLength}}, aktualisht ka {{error.actualLength}}-->
            <!--            </mat-error>-->
        </mat-form-field>
        <br>

        <!-- Price -->
        <mat-form-field>
            <input matInput type="text" formControlName="price" placeholder="Price">
            <mat-error>{{getError('price')}}</mat-error>
            <!--            <mat-error *ngIf="carForm.get('price').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('price').errors?.required">Fusha nuk mund te jete bosh</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('price').errors?.pattern">Cmimi nuk eshte i vlershem, ju lutem jepni nje numer-->
            <!--                te plote-->
            <!--            </mat-error>-->
        </mat-form-field>
        <br>

        <!-- Seller -->
        <mat-form-field>
            <mat-select formControlName="seller">
                <mat-option [value]="null">Select a user</mat-option>
                <mat-option *ngFor="let user of users" [value]="user.id">{{user.email}}</mat-option>
            </mat-select>
            <mat-error>{{getError('seller')}}</mat-error>
            <!--            <mat-error *ngIf="carForm.get('seller').errors?.serverError as error">{{error.message}}</mat-error>-->
            <!--            <mat-error *ngIf="carForm.get('seller').errors?.required">Fusha nuk mund te jete bosh</mat-error>-->
        </mat-form-field>
        <br>
        <button (click)="submit()" type="submit" mat-stroked-button color="primary">Submit</button>
    </form>

</div>
