html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snack {
    background-color: green !important;
    color: white !important;
}

.success-snack .mat-simple-snackbar-action {
    color: white !important;
}
